<section class="main-container mb-3" style="margin-top: 4rem;">
	<div>
		<div class="container-fluid">
			<canvas id="myChart" style="width:100%;max-width:700px"></canvas>
		</div>
	</div>
</section>



<script>

	document.addEventListener("DOMContentLoaded", charts, false)

	async function charts() {
		const res = await axios.get('/admin//salesReportChart').then((e) => {
			console.log(e.data.orders,'getttttttt')

			var result = [];
			e.data.orders.reduce(function (acc, curr) {
				if (!acc[curr.date]) {
					acc[curr.date] = { date: curr.date, totalPrice: 0 };
					result.push(acc[curr.date])
				}
				acc[curr.date].totalPrice += parseInt(curr.totalAmount)

				return acc
			}, {});

			console.log(result)

			var xValues = [];
			var yValues = [];

			result.map((curr) => {
				xValues.unshift(curr.date)
				yValues.unshift(parseInt(curr.totalPrice))

			})


			console.log(xValues, yValues)

			new Chart("myChart", {
				type: "line",
				data: {
					labels: xValues,
					datasets: [{
						fill: false,
						lineTension: 0,
						backgroundColor: "rgba(0,0,255,1.0)",
						borderColor: "green",
						data: yValues
					}
					]
				},
				options: {
					legend: { display: false },
					scales: {
						yAxes: [{ ticks: { min: 100, max: 50000 } }],
					}
				}
			});


		})
	}

</script>