<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="/img/favicon.png">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- animate CSS -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- owl carousel CSS -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/css/all.css">
  <!-- flaticon CSS -->
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <!-- font awesome CSS -->
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <!-- swiper CSS -->
  <link rel="stylesheet" href="/css/slick.css">
  <!-- style CSS -->
  <link rel="stylesheet" href="/css/style.css">

   <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  

</head>



<body>

  {{#if user_header}}

  {{>user-header}}

  {{/if}}

  {{{body}}}

  {{#if user_footer}}

  {{>user-footer}}

  {{/if}}
  {{!-- {{#if userDisplay}}
  {{>userFooter}}
  {{else}}
  {{>adminFooter}}
  {{/if}} --}}
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="/js/slick.min.js"></script>
  <script src="/js/jquery.counterup.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/contact.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/mail-script.js"></script>
  <script src="/js/stellar.js"></script>
  <script src="/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="/js/custom.js"></script>

  <script src="/javascripts/script.js"></script>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  
  {{!-- //new one --}}
 
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">




</body>

</html>